<template>
  <div>
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
  export default {
    name: '<%= data.name %>',
    components: {},
    props: {
      msg: String,
    },
    data: function () {
      return {
        message: '<%= data.name %>',
      }
    },
    created: function () {},
    mounted: function () {},
    mixins: [],
    computed: {},
    methods: {},
  }
</script>

<style scoped></style>
